.btn {
    cursor: pointer;
    background-color: #000000;
    padding: 5px 10px 5px 10px;
    border-radius: 10%;
    margin-right: 5px;
}

#btn {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#btn:hover {
    color: #e74944;
    background-color: #000000;
}